
.navbar-nav .nav-link:hover{
cursor: pointer;
background-color: rgb(189, 129, 129);
}
.footer-links a:hover {
  cursor: pointer;
  background-color: rgb(100, 58, 58);
}
footer{
  padding:45px 0 20px;
  line-height:24px;
  font-size:15px;
}



ul li a {
  color: #000;
 }
 
 ul li a:hover {
  color: #00a8ff;
 }
 
 ul li a.active {
  color: #00a8ff;
 }


